.result {
  background-color: white;
  position: relative;
  z-index: 1;
}
.result::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--russian-violet);
  border-radius: 0px 0px 30px 30px;
  z-index: -1;
}
.scoresSection {
  .scoresCardOuter {
    background-color: hsla(217, 100%, 50%, 1);
    padding: 1rem;
    border-radius: 50%;
    .scoresCardInner {
      background-color: var(--russian-violet);
      border-radius: 50%;
      padding: 3rem;
      p {
        text-align: center;
      }
      p:first-child {
        font-size: 1.5rem;
      }
      p:last-child {
        font-size: 1.5rem;
      }
    }
  }
}

.scoresBreakdownSection {
  .breakdownCard {
    background: var(--linear-gradient);
    border: none;
  }
}

.scoresbreakdownItem {
  p {
    span:first-child {
      font-weight: bolder;
    }
    span:last-child {
      font-style: italic;
    }
  }
}
.scoresbreakdownItem:nth-child(1),
.scoresbreakdownItem:nth-child(2) {
  p {
    span:first-child {
      color: var(--light-cyan);
    }
  }
}
.scoresbreakdownItem:nth-child(3) {
  p {
    span:first-child {
      color: var(--persian-green);
    }
  }
}
.scoresbreakdownItem:nth-child(4) {
  p {
    span:first-child {
      color: var(--rusty-red);
    }
  }
}

.ctaItemLink {
  text-decoration: none;
  text-align: center;

  .ctaItemIcon {
    border-radius: 50%;
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--light-cyan);
  }

  .ctaItemIcon.playAgain {
    background-color: var(--persian-green);
  }
  .ctaItemIcon.home {
    background-color: var(--rusty-red);
  }
  .ctaItemIcon.leaderboard {
    background-color: hsla(217, 100%, 50%, 1);
  }

  .ctaItemText {
    color: var(--russian-violet);
    letter-spacing: 0.1rem;
    margin-top: 1.5rem;
  }
}
