.container {
  min-height: 100vh;
  /* background-color: var(--light-cyan); */
  background-color: var(--russian-violet);
  .card {
    max-width: 60vw;
    animation: shrinkIn 0.5s ease-in;
    .cardTitle {
      color: #e0e0e0;
      text-align: center;
    }
    .cardDescription {
      text-align: center;
      color: #e0e0e0af;
    }
    .playBtn {
      background: var(--linear-gradient);
      box-shadow: 0px 0px 3px var(--russian-violet);
      border: none;
      color: #ffffff;
      padding: 0.5rem 1.5rem;
      transition: transform 0.5s ease-in-out;
    }
    .playBtn:hover {
      opacity: 0.8;
      box-shadow: 0px 0px 3px var(--persian-green);
      transform: skewX(-20deg);
    }
  }
}

@keyframes shrinkIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
